header {
  background: purple;
  height: 200px;
  display: flex;
  flex-direction: row;
  width:100%;
  align-items: flex-end;
}
.sectionName {
  width: 60%;
  display:flex;
  align-items: center;
  flex-direction: row;
}
.sectionNav {
  width: 40%;
}
.profileImage {
  height: 200px;
}
.header h1 {
  margin: 2%;
  text-align: left;
  color: white;
  font-size: 3rem;
}
