.nav {
  background: purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navButton {
  margin: 2%;
  padding:1%;
  text-align: right;
  font-size: 20px;
  border-radius: 10px;
  border-color: rgb(30, 2, 83);
  border-style: solid;
  color: white;
  background-color: rgb(30, 2, 83);
}

button:hover {
  background-color: white;
  color:rgb(30, 2, 83);
}
